<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component: Input Group</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body class="bg-gray-50 p-10 dark:bg-slate-900">

    <!-- Input Group -->
    <div class="max-w-sm space-y-3">

        <!-- Standard Input -->
        <div>
            <label for="input-label" class="block text-sm font-medium mb-2 dark:text-white">Email</label>
            <input type="email" id="input-label"
                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                placeholder="you@site.com">
        </div>

        <!-- Input with Error -->
        <div>
            <label for="input-error" class="block text-sm font-medium mb-2 dark:text-white">Mot de passe</label>
            <div class="relative">
                <input type="password" id="input-error"
                    class="py-3 px-4 block w-full border-red-500 rounded-lg text-sm focus:border-red-500 focus:ring-red-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                    value="12345">
                <div class="absolute inset-y-0 right-0 flex items-center pointer-events-none pr-3">
                    <i data-lucide="alert-circle" class="h-5 w-5 text-red-500"></i>
                </div>
            </div>
            <p class="text-sm text-red-600 mt-2" id="hs-validation-name-error-helper">Le mot de passe est trop court.
            </p>
        </div>

        <!-- Input with Helper Text -->
        <div>
            <label for="input-helper" class="block text-sm font-medium mb-2 dark:text-white">Pseudo</label>
            <input type="text" id="input-helper"
                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                placeholder="Votre pseudonyme" aria-describedby="hs-input-helper-text">
            <p class="text-sm text-gray-500 mt-2" id="hs-input-helper-text">Sera visible par tous les utilisateurs.</p>
        </div>

    </div>
    <!-- End Input Group -->

    <script>
        lucide.createIcons();
    </script>
</body>

</html>